{% extends "base.html" %}

{% block content %}
    <h1>Choose a Poke Type!</h1>

    <form action="/poke_types_deets" method="post">
    
      <div>
      <label for="ptype1-select">
          My pokemon is type
      </label>
      <select id="ptype1-select" name="ptype1-select">
        <option value="">--select--</option>
        {% for poke_type in poke_types %}
          <option value="{{ poke_type }}">{{ poke_type }}</option>
        {% endfor %}
      </select>
      
      <label for="ptype2-select">and</label>
      <select id="ptype2-select" name="ptype2-select">
        <option value="">--select--</option>
        {% for poke_type in poke_types %}
          <option value="{{ poke_type }}">{{ poke_type }}</option>
        {% endfor %}
      </select>

      </div>
      
      <div>
      </div>

      <div>
      <label for="ptype3-select">With an attack of type</label>
      <select id="ptype3-select" name="ptype3-select">
        <option value="">--select--</option>
        {% for poke_type in poke_types %}
          <option value="{{ poke_type }}">{{ poke_type }}</option>
        {% endfor %}
      </select>
      </div>
    
      <div class="button">
        <button type="submit">Send your message</button>
      </div>
    </form>
{% endblock %}

