<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deets for {{ poke_type }}!</title>
<h1>Deets for {{ poke_type }}!</h1>


<h2>{{ poke_type }} sucks against...</h2>
<h3>When attacking...</h3>
  {% for (ptype, pcoef) in poke_deets['not_effective'].iteritems() %}
    <li>{{ "{}x damage to {}".format(pcoef, ptype) }}</a></li>
  {% endfor %}
<h3>When defending...</h3>
  {% for (ptype, pcoef) in poke_deets['vulnerable_to'].iteritems() %}
    <li>{{ "{}x damage from {}".format(pcoef, ptype) }}</a></li>
  {% endfor %}


<h2>{{ poke_type }} excells against...</h2>
<h3>When attacking...</h3>
  {% for (ptype, pcoef) in poke_deets['super_effective'].iteritems() %}
    <li>{{ "{}x damage to {}".format(pcoef, ptype) }}</a></li>
  {% endfor %}
<h3>When defending...</h3>
  {% for (ptype, pcoef) in poke_deets['resistant_to'].iteritems() %}
    <li>{{ "{}x damage from {}".format(pcoef, ptype) }}</a></li>
  {% endfor %}

<h2><a href='/choose_poke_type'>Choose Another Type </a></h2>


