{% extends "base.html" %}

{% block content %}
    <h1>Deets for {{ poke_type }}!</h1>
    
    <h2>{{ poke_type }} sucks against...</h2>
    
    <table border=1>
      <tr>
        <th>Type</th>
        <th>Defending</th> 
        <th>Attacking</th>
      </tr>
    
      {% for (ptype, (coef_to, coef_from, pr)) in poke_deets['sucks_against'].iterrows(): %}
      <tr>
        <td><a href=/poke_type_deets/{{ptype}}>{{ptype}}</a></td>
        <td>{{coef_to}}x</td> 
        <td>{{coef_from}}x</td>
      </tr>
      {% endfor %}
    </table>
    
    
    <h2>{{ poke_type }} excells against...</h2>
    
    <table border=1>
      <tr>
        <th>Type</th>
        <th>Defending</th> 
        <th>Attacking</th>
      </tr>
    
      {% for (ptype, (coef_to, coef_from, pr)) in poke_deets['excells_against'].iterrows(): %}
      <tr>
        <td><a href=/poke_type_deets/{{ptype}}>{{ptype}}</a></td>
        <td>{{coef_to}}x</td> 
        <td>{{coef_from}}x</td>
      </tr>
      {% endfor %}
    </table>

    <br/>
    <a href="/choose_show_types"> Advanced </a>


    
{% endblock %}







